{# app/Resources/views/header.html.twig #}
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - Reconversion Pro</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/global.css') }}" /> {% endblock %}
</head>

<body>
    <ul class="nav-bar">
        <li>
           <a href="#">Notre démarche</a> 
        </li>
        <li>
           <a href="#">Les étapes</a> 
        </li>
        <li>
           <a href="#">Témoignages</a> 
        </li>
        <li>
           <a href="#">FAQ</a> 
        </li>
        <li>
           <a href="#">Liens utiles</a> 
        </li>
        <li>
           <a href="#">Contact</a> 
        </li>
        {% if id is defined %} 
        <li>
           <a href="./deco">Deconnexion</a> 
        </li>
    </ul>
    <bloc>Bonjour { id }</bloc>
        {% else %}
        <li class="connect">
           <a class="btn" href="./login">Connexion</a> 
        </li>
    </ul>
        {% endif %}
    
    <div>
        {% block body %}{% endblock %} {% block javascripts %}
    </div>
    <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</body>
    
<footer>
    <div class="footer">
        UPMC - Formation continue / KOEHREN & PAVELEK / 2018 <a href="#">Mentions légales</a>
    </div>
</footer>

</html>