{# src/ReconBundle/Resources/views/User/ajouter.html.twig #}
{% extends "header.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="wrap form">
{% if message %} 
<p>{{ message }}</p> 
{% endif %} 
<div> 
{{ form(form) }} 
</div>
<p class="contact"><a href="../" class="btn">Retour à l'accueil</a></p>
</div>

{% endblock %}