{# src/ReconBundle/Resources/views/User/mail.html.twig #} 
<h1>Information User</h1> 
<div> 

Un mail de confirmation vous à été envoyé. Merci de vérifier votre courrier indésirable


    
<a href="http://localhost/reconversion/web/inscriptionsuite/{{ id }}">http://localhost/reconversion/web/inscriptionsuite/{{ id }}</a>
</div>