{# src/ReconBundle/Resources/views/User/mail.html.twig #} 
<h1>Information User</h1> 
<div> 
{{ user.getPrenom }}<br> 
{{ user.getNom }}<br> 
{{ user.getEmail }}<br> 
</div> 
<p><a href="{{ path('userlist') }}">Retour à la liste des 
utilisateurs</a></p> 