{# src/ReconBundle/Resources/views/User/mail.html.twig #} 
<h1>Bienvenue chez Reconversion pro</h1> 
<h2>{{ name }}</h2>
<br>
<div> 

<em>Un mail de confirmation vous à été envoyé. Merci de vérifier votre courrier indésirable.</em>


<br><br>
    
Voici le lien pour finaliser votre inscription :
    
<a href="http://localhost/reconversion/web/inscriptionsuite/{{ id }}">http://localhost/reconversion/web/inscriptionsuite/{{ id }}</a>
</div>
<br><br>

<strong>Reconversion Pro : UPMC - Formation continue / KOEHREN & PAVELEK / 2018</strong>