{# src/ReconBundle/Resources/views/Default/index.html.twig #}
{% extends "header.html.twig" %}
{% block title %}Hello{% endblock %}
{% block body %}

<div class="first-bloc">
    <p>votre métier se transforme</p>
    <p class="bold">Devenez acteur de votre mobilité professionnelle</p>
    <button class="signup">INSCRIVEZ-VOUS</button>
</div>


{% endblock %}